<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<title>Home</title>
</head>
<body>
	<div class="container">

		<div class="header">
			<div class="h-left"> <img src="../static/header1.jpg" width="300" height="150"></div>
			<div class="h-middle" align="left"><h1>BlogSpot</h1> </div>	
		</div>
		<div class="middle">
			<h5> Wrong user name or password. </h5>
			
			<br><br>
			<p>
			Please goto to <a href="/"><u>login page</u>  </a>
			</p>
			<br>
			<p>
				Or goto to <a href="/register"><u>Register</u>  </a> for new user registration.
			</p>
		</div>
		<div class="footer">
			<p>Soumya V Namboodiripad | 2022 May Term | Project for Modern Application Development 1</p>
		</div>
	</div>
</body>
</html>